.login-page {
  margin: 0 auto;
  width: 100vw;
  height: 82vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;

  .login-container {
    border-radius: 1.5rem;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;

    .username-container {
      display: flex;
      align-items: center;
      height: 2.5rem;
      width: 15vw;
      margin-bottom: 2vh;

      .username-icon {
        font-size: 2rem;
      }

      .username-input {
        border: none;
        height: 100%;
        font-size: 1.1rem;
        width: 100%;
        margin-left: 0.6rem;
      }

      .username-input:focus {
        outline: none;
      }
    }

    .password-container {
      display: flex;
      align-items: center;
      height: 2.5rem;
      width: 15vw;

      .password-icon {
        font-size: 2rem;
      }

      .password-input {
        border: none;
        height: 100%;
        font-size: 1.1rem;
        width: 100%;
        margin-left: 0.6rem;
      }

      .password-input:focus {
        outline: none;
      }
    }

    .password-message {
      width: 15vw;
      margin-top: 1.5vh;
      font-size: 1.5vh;
      text-align: left;
    }

    .wrong-username-message {
      width: 15vw;
      font-size: 1.5vh;
      text-align: left;
      position: relative;
      bottom: 0.5vh;
      margin-bottom: 1vh;
    }

    .login-button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 3vh;

      button {
        position: relative;
        margin-top: 3vh;
        padding-right: 1.3rem;
        padding-left: 1.3rem;
        padding-top: 0.8vh;
        padding-bottom: 0.8vh;
        border-radius: 20px;
        font-size: 1.8vh;
        transition: 0.3s;
        display: flex;
        align-items: center;

        .login-icon {
          position: absolute;
          right: 50%;
          transform: translate(50%);
          font-size: 2.7vh;
          color: transparent;
        }

        &:hover {
          cursor: pointer;

          .login-icon {
            display: block;
          }
        }
      }
    }
  }
}

#light .login-page {
  .login-container {
    background-color: white;
    border: 1px lightgray solid;
    box-shadow: 0px 3px 7px -6px rgb(58, 58, 58);

    .username-container {
      .username-icon {
      }

      .username-input {
        background-color: transparent;
      }

      .username-input:focus {
      }
    }

    .password-container {
      .password-icon {
      }

      .password-input {
        background-color: transparent;
        color: rgb(161, 161, 161);
      }

      .password-input:focus {
      }
    }

    .password-message {
      color: rgb(161, 161, 161);
    }

    .wrong-username-message {
      color: rgb(235, 43, 43);
    }

    .login-button {
      border-top: 1px lightgray solid;

      button {
        color: black;
        background-color: rgb(247, 247, 247);
        border: 1px lightgray solid;
        box-shadow: 0px 2px 10px -7px rgb(71, 71, 71);

        .login-icon {
          color: transparent;
        }

        &:hover {
          color: transparent;
          background-color: rgb(63, 63, 67);
          border: 1px rgb(63, 63, 67) solid;
          box-shadow: 0px 2px 10px -6px rgb(63, 63, 67);

          .login-icon {
            color: white;
          }
        }
      }
    }
  }
}

#dark .login-page {
  .login-container {
    background-color: rgb(21, 21, 21); //white;
    border: 1px darkgray solid;
    box-shadow: 0px 3px 7px -6px rgb(58, 58, 58);

    .username-container {
      .username-icon {
        color: white;
      }

      .username-input {
        color: white;
        background-color: transparent;
      }

      .username-input:focus {
      }
    }

    .password-container {
      .password-icon {
        color: white;
      }

      .password-input {
        background-color: transparent;
        color: rgb(161, 161, 161);
      }

      .password-input:focus {
      }
    }

    .password-message {
      color: rgb(161, 161, 161);
    }

    .wrong-username-message {
      color: rgb(235, 43, 43);
    }

    .login-button {
      border-top: 1px lightgray solid;

      button {
        color: white;
        background-color: rgb(37, 37, 38); //rgb(247, 247, 247);
        border: 1px rgb(63, 63, 67) solid;
        box-shadow: 0px 2px 10px -7px rgb(71, 71, 71);

        .login-icon {
          color: transparent;
        }

        &:hover {
          color: transparent;
          background-color: rgb(63, 63, 67);
          border: 1px rgb(63, 63, 67) solid;
          box-shadow: 0px 2px 10px -6px rgb(63, 63, 67);

          .login-icon {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .login-page {
    .login-container {
      width: 50vw;

      .username-container {
        width: 40vw;
      }

      .password-container {
        width: 40vw;
      }

      .password-message {
        width: 100%;
      }

      .wrong-username-message {
        width: 100%;
      }

      .login-button {
        button {
          width: 100%;
        }
      }
    }
  }
}
