button {
    position: relative;
    width: 10vw;
    height: 4.5vh;
    color: black;
    border-radius: 20px;
    background-color: rgb(247, 247, 247);
    border: 1px lightgray solid;
    font-size: 2vh;
    box-shadow: 0px 2px 10px -7px rgb(71, 71, 71);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

    .submit-icon {
        position: absolute;
        right: 50%;
        transform: translate(50%);
        font-size: 3.4vh;
        color: transparent;
    }

    &:hover {
        cursor: pointer;
        color: transparent;
        background-color: rgb(63, 63, 67);
        border: 1px rgb(63, 63, 67) solid;
        box-shadow: 0px 2px 10px -6px rgb(63, 63, 67);

        .submit-icon {
            display: block;
            color: white;
        }
    }
}