.searchBar {
    width: 25vw;
    border-radius: 10px;
    height: 2.5rem;
    display: flex;
    align-items: center;

    .search-input {
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1.1rem;
        width: 100%;
        margin-left: .6rem;
    }

    .search-input:focus {
        outline: none;
    }
}

#dark .searchBar {
    color: white;

    .search-input {
        color: white;
    }
}

@media (max-width: 480px) {
    .searchBar {
        width: 80vw;

        .search-input {
            font-size: 1rem;
        }
    }
}