.single-album {
    width: 60vw;
    border: 1px lightgray solid;
    padding-bottom: 4vh;
    margin-top: 4vh;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 2px 10px -5px rgb(75, 75, 75);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .album-top-part {
        width: 60vw;
        font-size: 2.1vh;
        margin-bottom: 3vh;
        margin-top: 3vh;
        text-align: center;

        .album-info{
            font-size: 1.7vh;
            color: rgb(99, 99, 99);
        }
    }

    .album-photos {
        width: 55vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5vw;
        background-color: white;
        border: 1px lightgray solid;
        box-shadow: 0px 2px 10px -5px rgb(75, 75, 75);
        border-radius: 1rem;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1vw;
        padding-right: 1vw;
        align-self: center;

        &:hover{
            img{
                opacity: .3;
            }
        }

        img {
            height: 10vh;
            transition: .3s;

            &:hover {
                cursor: pointer;
                opacity: 1;
                scale: 120%;
                z-index: 2;
            }
        }
    }
}