.somePost{
    border: 1px solid lightgray; 
    border-radius: 20px;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    .topPartOfPost{
        border-bottom: 1px solid lightgray;//
        height: 9vh;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        flex-wrap: wrap;
        padding-left: 1vw;
        padding-top: 1vh;

        .userPost{
            height: 8.6vh;
            transition: .2s;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            .profilePicture{
                height: 6vh;
                border-radius: 50%;
                transition: .2s;
                box-shadow: 0px 0px 5px -2px rgb(67, 67, 67);
            }

            .userPostUsername {
                display: flex;
                align-items: center;
                color: rgb(21, 102, 172);
                text-decoration: none;
                transition: .2s;
                margin-left: .9vw;
                font-size: .9rem;
            }
        }

        .userPost:hover{

            cursor: pointer;

            .profilePicture {
            opacity: .8;
            scale: 105%;
            }

            .userPostUsername {
                color: rgb(50, 138, 215);
            }
        }


    }

    .bottomPartOfPost{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        flex-wrap: wrap;
        padding-left: 1vw;
        
        .postDescription{
            width: 55vw;
            margin-bottom:2vh;
            padding-top: 2vh;

            .postTitle{
                display: flex;
                text-align: center;
                font-weight: bold;
                padding-top: .5vh;
                padding-bottom: .3vh;
                padding-left: 1vw;
                padding-right: 1vw;
            }

            .postText{
                display: flex;
                padding-top: 2vh;
                padding-left: 1vw;
                padding-right: 1vw;
                font-size: 14px;
            }
        }
    }

    .actionPartOfPost{
        display: flex;
        flex-direction: column;
    }

    .actionPartOfPost.showComments {
        display: block;
    }

    .actionPartOfPost.stoppedShowing {
        display: none;
    }


    .closeComments{
        margin-left: 1.9vw;
        margin-bottom: 1.5vh;
        display: flex;
        justify-content: flex-start;
        color: rgb(0, 0, 0);
    }

    .closeComments:hover{
        cursor: pointer;

        margin-left: 1.9vw;
        margin-bottom: 1.5vh;
        display: flex;
        justify-content: flex-start;
        color: rgb(52, 52, 52);
    }
}


