.single-album {
    width: 60vw;
    padding-bottom: 4vh;
    margin-top: 4vh;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .album-top-part {
        width: 60vw;
        font-size: 2.1vh;
        margin-bottom: 3vh;
        margin-top: 3vh;
        text-align: center;

        .album-info {
            font-size: 1.7vh;
        }
    }

    .album-photos {
        width: 55vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5vw;
        border-radius: 1rem;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1vw;
        padding-right: 1vw;
        align-self: center;
        transition: .3s;

        .displayed-photo {
            position: relative;
            transition: .3s;

            img {
                height: 10vh;
                transition: .3s;
            }

            .eye {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2.5vh;
                visibility: hidden;
            }

            &:hover {
                cursor: pointer;
                opacity: 1;
                scale: 105%;
                z-index: 0;

                img {
                    filter: brightness(.6);
                }

                .eye {
                    visibility: visible;
                }
            }
        }
    }

    .photo-modal {
        z-index: 3;

        &,
        .overlay {
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;
        }

        .photo-modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 1rem;
            padding-top: 1vh;
            padding-bottom: 2vh;
            padding-left: 1vw;
            padding-right: 1vw;

            .somePhoto {
                border: none;
                box-shadow: none;
                border-radius: 0;

                .showTitle {
                    display: none;
                }

                .displayedPhoto {
                    border-radius: 0;
                }
            }
        }

        .close {
            position: absolute;
            top: 1.5vw;
            right: 1.5vw;
            scale: 150%;

            &:hover {
                cursor: pointer;
                color: rgb(255, 65, 65);
            }
        }

        .remove {
            position: absolute;
            top: 1.5vw;
            right: 3vw;
            scale: 140%;

            &:hover {
                cursor: pointer;
                color: rgb(255, 65, 65);
            }
        }
    }
}

#light .single-album {
    border: 1px lightgray solid;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 2px 10px -5px rgb(75, 75, 75);

    .album-top-part {
        .album-info {
            color: rgb(99, 99, 99);
        }
    }

    .album-photos {
        background-color: white;
        border: 1px lightgray solid;
        box-shadow: 0px 2px 10px -5px rgb(75, 75, 75);

        &:hover {
            border: 1px rgb(167, 167, 167) solid;
        }

        .displayed-photo {
            .eye {
                color: white;
            }
        }
    }

    .photo-modal {
        .overlay {
            background: rgba(0, 0, 0, 0.6);
        }

        .photo-modal-content {
            background: rgb(241, 241, 241);
            box-shadow: 0px 0px 10px -5px rgb(49, 49, 49);

            .somePhoto{
                border: none;
                box-shadow: none;
            }
        }
    }
}

#dark .single-album {
    border: 1px rgb(55, 55, 55) solid;
    background-color: rgb(19, 19, 19);
    box-shadow: 0px 0px 10px -5px rgb(255, 255, 255);

    .album-top-part {
        color: rgb(116, 116, 116);

        .album-info {
            color: white;
        }
    }

    .album-photos {
        background-color: rgb(19, 19, 19);
        border: 1px rgb(57, 57, 57) solid;
        box-shadow: 0px 0px 10px -5px rgb(255, 255, 255);

        &:hover {
            border: 1px rgb(74, 74, 74) solid;
        }

        .displayed-photo {
            .eye {
                color: white;
            }
        }
    }

    .photo-modal {
        .overlay {
            background: rgba(0, 0, 0, 0.7);
        }

        .photo-modal-content {
            background: rgb(19, 19, 19);
            box-shadow: 0px 0px 10px -5px rgb(255, 255, 255);

            .somePhoto{
                border: none;
            }
        }

        .close {
            color: white;

            &:hover {
                color: rgb(255, 65, 65);
            }
        }

        .remove {
            color: white;

            &:hover {
                color: rgb(255, 65, 65);
            }
        }
    }
}

body.freeze-scrolling {
    overflow-y: hidden;
}

@media (max-width: 480px) {
    .single-album {
        width: 90vw;

        .album-top-part {
            width: 90vw;
        }

        .album-photos {
            width: 80vw;
            gap: 1vw;
        }

        .photo-modal {
            .remove {
                right: 8vw;
            }
        }
    }
}