.comments-section {
  margin-bottom: 1vh;

  .actionPartOfPost {
    display: flex;
    flex-direction: column;
  }

  .actionPartOfPost.showComments {
    display: block;
  }

  .actionPartOfPost.stoppedShowing {
    display: none;
  }

  .closeComments {
    margin-left: 1.9vw;
    margin-bottom: 1.5vh;
    display: flex;
    justify-content: flex-start;

    &:hover {
      cursor: pointer;
      margin-left: 1.9vw;
      margin-bottom: 1.5vh;
      display: flex;
      justify-content: flex-start;
    }
  }

  .iconComment {
    transition: 0.2s;
    scale: 120%;

    &:hover {
      cursor: pointer;
    }
  }
}

#light .comments-section {
  .closeComments {
    color: rgb(0, 0, 0);

    &:hover {
      color: rgb(52, 52, 52);
    }
  }

  .iconComment {
    &:hover {
      color: rgb(50, 138, 215);
    }
  }
}

#dark .comments-section {
  .closeComments {
    color: rgb(0, 0, 0);

    &:hover {
      color: rgb(52, 52, 52);
    }
  }

  .iconComment {
    color: white;

    &:hover {
      color: rgb(50, 138, 215);
    }
  }
}
