.header {
    margin: 0 auto;
    width: 100vw;
    height: 10vh;
    background-color: rgb(237, 237, 237);
    border-bottom: 1px rgb(195, 195, 195) solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    position: sticky;
    top: 0;
    left: 0;
}

.headerLink {
    text-decoration: none;
    padding-top: 3.4vh;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    border-right: 1px rgb(195, 195, 195) solid;
    transition: .2s;
    color: black;
    height: 10vh;
}

.headerLink:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border-bottom: 3px rgb(198, 198, 198) solid;
}

.headerLink.active {
    border-bottom: 3px rgb(53, 53, 53) solid;
    transition: .2s;
    background-color: rgb(228, 228, 228);
}