.headerUserSection {
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 2vh;
    margin-left: auto;
    color: rgb(62, 62, 62);
    height: 7vh;
    display: flex;
    align-items: center;
}

.dropdown-menu-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: .3s;

    &:hover {
        cursor: pointer;
        color: rgb(129, 143, 173);

        .userProfilePicture {
            border-radius: 46%;
            scale: 105%;
            box-shadow: 0px 2px 10px -3px rgb(58, 58, 58);
        }
    }
}

.userProfilePicture {
    height: 5vh;
    border-radius: 50%;
    transition: .3s;
    box-shadow: 0px 2px 12px -5px rgb(58, 58, 58);
}

.userNameSection {
    height: 7vh;
    width: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    &.highlight {
        color: rgb(129, 143, 173);
        transition: .3s;
    }
}

.userWelcomeSectionPicture {
    height: 7vh;
    display: flex;
    align-items: center;
    width: 4rem;
}

.dropdown-menu {
    position: absolute;
    top: 8.8vh;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    width: 240px;
    padding: 1rem 2rem 1rem 2rem;
    border: 1px rgb(195, 195, 195) solid;
    display: flex;
    flex-direction: column;
    align-items: center;

    .dropdown-user-info {
        width: 190px;
        margin-top: .5rem;
        margin-bottom: .5rem;

        .dropdown-userFirstName {
            width: 100%;
            font-size: 1.2rem;
            color: rgb(62, 62, 62);
            margin-bottom: .3rem;
            text-align: center;
            font-weight: bold;
        }

        .dropdown-userName {
            width: 100%;
            font-size: 1rem;
            text-align: center;
            color: rgb(134, 134, 134);
            margin-top: .2rem;
        }
    }

    .add-section {
        background-color: white;
        position: absolute;
        top: calc(8.8vh + 100px);
        right: 250px;
        border: 1px rgb(195, 195, 195) solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px 15px;
        gap: 10px;
        border-radius: 5px;

        .dropdown-menu-item {
            width: 100px;
            padding-top: 0;
            margin-top: 0;
            border-top: none;
            text-align: left;
        }

        &::before {
            content: '';
            position: absolute;
            top: 18px;
            right: -8px;
            height: 14px;
            width: 14px;
            transform: rotate(45deg);
            background-color: white;
            border-right: 1px rgb(195, 195, 195) solid;
            border-top: 1px rgb(195, 195, 195) solid;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transition: .3s;
            transform: translateX(-10px);
        }

        &.inactive {
            visibility: hidden;
            opacity: 0;
            transition: .3s;
            transform: translateX(0px);
        }
    }
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -11px;
    right: 40px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px rgb(195, 195, 195) solid;
    border-top: 1px rgb(195, 195, 195) solid;
}

.dropdown-menu.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
    transform: translateY(0);
}

.dropdown-menu.inactive {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: translateY(-10px);
}

@media (max-width: 480px) {
    .userNameSection {
        display: none;
    }

    .dropdown-menu {
        top: 8vh;
        right: 1vw;
        width: 50vw;
    
        .dropdown-user-info {
            width: 40vw;
    
            .dropdown-userFirstName {
                font-size: 1rem;
            }
    
            .dropdown-userName {
                font-size: .9rem;
            }
        }
    
        .add-section {
            top: calc(8vh + 100px);
            right: 50vw;
        }
    }
}