.somePhoto {
   border: 1px solid lightgray;
   border-radius: 20px;
   box-shadow: 0px 5px 16px -10px rgb(40, 40, 40);
   display: flex;
   flex-direction: column;
   align-self: center;
   justify-content: center;

   .topPartOfPhoto {
      height: 8.6vh;
      border-bottom: 1px solid lightgray;
      display: flex;
      flex-wrap: wrap;
      justify-content: baseline;
      justify-items: center;
      padding-left: 1vw;
   }

   .bottomPartOfPhoto {
      .displayedPhoto {
         height: 55vh;
         border-radius: 0px 0px 20px 20px;
         margin-bottom: -.3rem;
      }
   }
}


.userPhoto {
   height: 8.6vh;
   transition: .2s;
   display: flex;
   flex-wrap: wrap;
   align-items: center;

   .profilePicture {
      height: 6vh;
      border-radius: 50%;
      transition: .2s;
      box-shadow: 0px 0px 5px -2px rgb(67, 67, 67);
   }

   .userPhotoUsername {
      height: 8.6vh;
      display: flex;
      align-items: center;
      color: rgb(21, 102, 172);
      text-decoration: none;
      transition: .2s;
      margin-left: .9vw;
      font-size: .9rem;
   }
}

.userPhoto:hover {
   cursor: pointer;

   .profilePicture {
      opacity: .8;
      scale: 105%;
   }

   .userPhotoUsername {
      color: rgb(50, 138, 215);
   }
}


.photoDescription {
   margin-left: .5vw;
   height: 8.6vh;
   color: rgb(35, 35, 35);
   font-size: .9rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: baseline;
   align-items: center;
   margin-left: auto;
   margin-right: 1vw;

   .albumToPhoto{
      color: rgb(148, 148, 148);
   }

   .photoDescriptionElement {
      margin-right: .3vw;
      margin-left: .3vw;
      transition: .2s;
   }

   .photoDescriptionElement:hover {
      cursor: pointer;
      color: rgb(118, 118, 118);
   }
}