.somePhoto {
   border: 1px solid lightgray;
   border-radius: 20px;
   box-shadow: 0px 5px 16px -10px rgb(40, 40, 40);
   display: flex;
   flex-direction: column;
   align-self: center;
   justify-content: center;

   .topPartOfPhoto {
      border-bottom: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: baseline;
      padding-left: 1vw;

      .userPhoto {
         height: 8.6vh;
         transition: .2s;
         display: flex;
         flex-wrap: wrap;
         align-items: center;

         .profilePicture {
            height: 6vh;
            border-radius: 50%;
            transition: .2s;
            box-shadow: 0px 0px 5px -2px rgb(67, 67, 67);
         }

         .userPhotoUsername {
            display: flex;
            align-items: center;
            color: rgb(21, 102, 172);
            text-decoration: none;
            transition: .2s;
            margin-left: .9vw;
            font-size: .9rem;
         }
      }

      .userPhoto:hover {
         cursor: pointer;

         .profilePicture {
            opacity: .8;
            scale: 105%;
         }

         .userPhotoUsername {
            color: rgb(50, 138, 215);
         }
      }

      .photoDescription {
         width: 50vh;
         margin-bottom: 2vh;
         padding-top: 2vh;
         border-top: 1px lightgray solid;
         font-size: .85rem;

         .photoTitle {
            display: flex;
            justify-content: center;
            text-align: center;
         }

         .albumTitle {
            display: flex;
            justify-content: center;
            margin-top: 2vh;
            margin-bottom: 2vh;
            font-size: .73rem;
            text-align: center;

            span {
               font-weight: bold;
            }

            .albumLink:hover{
               cursor: pointer;
               color: rgb(48, 123, 230);
            }
         }

         .albumTitle.showMore {
            display: block;
         }

         .albumTitle.showLess {
            display: none;
         }

         .showTitle{
            margin-top: .5vh;
            display: flex;
            justify-content: center;
            color: rgb(0, 35, 162);
         }

         .showTitle:hover{
            cursor: pointer;
            color: rgb(48, 123, 230);
         }
      }
   }

   .bottomPartOfPhoto {
      .displayedPhoto {
         height: 55vh;
         border-radius: 0px 0px 20px 20px;
         margin-bottom: -.3rem;
      }
   }
}