.photosPage {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 5vh;

    .photos-search-bar-container {
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 1vw;

        .choose-filtering {
            height: 3.5vh;
            width: 6vw;
            border: none;
            position: relative;
            top: .25vh;
            font-size: 1.7vh;
            cursor: pointer;
            padding: .5vh .3vw;
            transition: .2s;
            background-color: rgba(128, 128, 128, 0.15);
            margin-top: .3rem;
            option {
                border: none;
            }

            &:focus {
                outline: 0;
            }

            &:hover {
                background-color: rgba(128, 128, 128, 0.3);
            }

            &:active {
                background-color: rgba(128, 128, 128, 0.3);
            }
        }
    }

    .photosContent {
        margin: 0 auto;
        width: 70vw;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .loading-screen {
            height: 72vh;
        }
    }
}