.photos-search-bar-by-user-id {
    border-radius: 10px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 4vh;
    width: 20vw;

    .search-input {
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1.1rem;
        width: 100%;
        margin-left: .6rem;
    }

    .search-input:focus {
        outline: none;
    }
}

@media (max-width: 480px) {
    .photos-search-bar-by-user-id {
        width: 60vw;

        .search-input {
            font-size: .7rem;
        }
    }
}