.login-btn-container {
  height: 7vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1.5vw;

  .headerLoginSection {
    height: 4.5vh;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    font-size: 1.8vh;
    display: flex;
    align-items: center;
    transition: 0.3s;
    border-radius: 20px;

    .login-icon {
      font-size: 2.5vh;
      margin-left: 0.4vw;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

#light .login-btn-container {
  .headerLoginSection {
    color: black;
    border: 1px rgb(195, 195, 195) solid;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 2px 10px -7px rgb(71, 71, 71);

    &:hover {
      color: white;
      background-color: rgb(63, 63, 67);
      border: 1px rgb(63, 63, 67) solid;
      box-shadow: 0px 2px 10px -6px rgb(63, 63, 67);
    }
  }
}

#dark .login-btn-container {
  .headerLoginSection {
    color: white;
    background-color: rgb(63, 63, 67);
    border: 1px rgb(248, 248, 248) solid;
    box-shadow: 0px 2px 10px -6px rgb(63, 63, 67);

    &:hover {
      color: black;
      border: 1px rgb(248, 248, 248) solid;
      background-color: rgb(248, 248, 248);
      box-shadow: 0px 2px 10px -7px rgb(71, 71, 71);
    }
  }
}

@media (max-width: 480px) {
  .login-btn-container {
    .headerLoginSection {
      height: 4.5vh;
      padding-right: 0;
      padding-left: 0;
      font-size: 1.2rem;
      border: none;
      box-shadow: none;
      background-color: transparent;
      margin-right: 0.5rem;

      &:hover {
        color: black;
        background-color: transparent;
        border: none;
        box-shadow: none;
      }

      .login-text {
        display: none;
      }

      .login-icon {
        font-size: 1.2rem;
      }
    }
  }
}
