.profilePhotosSection {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    padding-top: 4vh;
    padding-bottom: 2vh;

    .userProfilePhotoSection-photo {
        width: 18vw;
    }

    .show-users-gallery {
        width: 14vw;
        height: 4vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        transition: .2s;
        font-size: 1.7vh;

        &:hover {
            cursor: pointer;
        }
    }
}

#light .profilePhotosSection {
    .show-users-gallery {
        border: 1px lightgray solid;
        background-color: white;
        color: rgb(47, 47, 47);
        box-shadow: 0px 2px 8px -5px rgb(66, 66, 66);

        &:hover {
            color: white;
            background-color: rgb(47, 47, 47);
            border: 1px rgb(47, 47, 47) solid;
        }
    }
}


#dark .profilePhotosSection {
    .show-users-gallery {
        border: 1px rgb(45, 45, 45) solid;
        background-color: rgb(19, 19, 19);
        color: white;
        box-shadow: 0px 0px 8px -8px rgb(255, 255, 255);
        
        &:hover {
            color: white;
            background-color: rgb(35, 35, 35);
            border: 1px rgb(47, 47, 47) solid;
        }
    }
}

@media (max-width: 480px) {
    .profilePhotosSection {
        width: 90vw;
        gap: 1.5vw;

        .userProfilePhotoSection-photo {
            width: 28vw;
        }

        .show-users-gallery {
            width: 60vw;
            margin-top: 3vh;
            margin-bottom: 2vh;
        }
    }
}