footer {
    width: 100vw;
    height: 11vh;
    clear: both;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#light footer {
    background-color: rgb(47, 47, 47);
    border-top: 1px rgb(195, 195, 195) solid;
    color: white;
}

#dark footer {
    background-color: rgb(19, 19, 19);
    border-top: 1px rgb(43, 43, 43) solid;
    color: white;
}

@media (max-width: 480px) {
    footer {
        font-size: .8rem;
    }
}