footer{
    width: 100vw;
    height: 11vh;
    background-color: rgb(47, 47, 47);
    border-top: 1px rgb(195, 195, 195) solid;
    clear: both;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}